<li>
  <div
    class='list-item'
    data-id=<% list.id %>
    data-title="<% list.destination %>"
    >
    <%= list.destination %> - <%= list.description %>
  </div>
  <button class='btn teal' id='edit-list'>Edit</button>
  <button class='btn navy' id='delete-list'>Delete</button>
</li>